@use "sass:math";

@mixin center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
}

@mixin center--abs {
  @include center;
  position: absolute;
}

@mixin center-h {
  position: relative;
  left: 50%;
  margin: 0 auto;
  width: 20rem;
  transform: translate3d(-50%, 0, 0);
}

@mixin center-h--abs {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: center;
}

@mixin center-rot($x: 0, $y: 0, $z: 0, $deg: 0) {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate3d($x, $y, $z, $deg);
  transform-origin: center;
}

@mixin center-scaled($pct) {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(math.div($pct * 0.1,10), math.div($pct * 0.1,10), 1);
  transform-origin: center;
}
